.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }

  .admin-content {
    width: 100vw;
    .admin-header {
      height: 40px;
      border-bottom: 1px solid #adadad;
    }
    .admin-main {
      .user-paginate {
        display: flex;
        justify-content: center;
      }
    }
  }
}
