.question-container {
  padding: 15px;

  .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  .question {
    display: flex;
    gap: 12px;
    align-items: center;

    .description {
      max-width: 58.4%;
      flex: 1;
    }
    .group-upload {
      max-width: 24%;
      flex: 1;
      // overflow: hidden;
      margin-left: 15px;
      cursor: pointer;
      color: #9068ff;

      &:hover {
        color: #4400ff;
      }
      .title {
        font-size: 16px;
        font-weight: 500;

        .icon-upload {
          font-size: 24px;
        }
      }
    }
    .btn-add {
      max-width: 10%;

      .icon-add {
        font-size: 28px;
        color: #2596ff;
        cursor: pointer;
        &:hover {
          color: #3a47f7;
        }
      }

      .icon-remove {
        margin-left: 8px;
        font-size: 28px;
        cursor: pointer;
        color: #e8771c;

        &:hover {
          color: #ff7300;
        }
      }
    }
  }
  .answer-container {
    margin-top: 28px;
    .answer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      .check-box {
        // max-width: 10%;
        margin: 0 10px 0 20px;
        width: 20px;
        height: 20px;

        &.isCorrect {
        }
      }
      .answer-description {
        max-width: 53.6%;
        flex: 1;
      }
      .btn-add {
        width: 30%;
        .icon-add {
          font-size: 28px;
          color: #2596ff;
          cursor: pointer;
          &:hover {
            color: #3a47f7;
          }
        }

        .icon-remove {
          margin-left: 8px;
          font-size: 28px;
          cursor: pointer;
          color: #e8771c;

          &:hover {
            color: #ff7300;
          }
        }
      }
    }
  }
}
